/* generl rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    background-color: bisque;
    border: 1px solid black;
}
.wrapper{
    width: 100%;
}
.container-fluid{
    width: 100%;
}
.row{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
/* colonne */
[class*="col-"]{
    flex: 0 0 auto;
}
.col-xs-1{
    width: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}
.col-xs-2{
    width: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}
.col-xs-3{
    width: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}
.col-xs-4{
    width: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}
.col-xs-5{
    width: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}
.col-xs-6{
    width: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}
.col-xs-7{
    width: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}
.col-xs-8{
    width: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}
.col-xs-9{
    width: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}
.col-xs-10{
    width: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}
.col-xs-11{
    width: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}
.col-xs-12{
    width: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}
/* offset colonne */
.col-xs-offset-1{
    margin-left: calc((100% / 12) * 1);
}
.col-xs-offset-2{
    margin-left: calc((100% / 12) * 2);
}
.col-xs-offset-3{
    margin-left: calc((100% / 12) * 3);
}
.col-xs-offset-4{
    margin-left: calc((100% / 12) * 4);
}
.col-xs-offset-5{
    margin-left: calc((100% / 12) * 5);
}
.col-xs-offset-6{
    margin-left: calc((100% / 12) * 6);
}
.col-xs-offset-7{
    margin-left: calc((100% / 12) * 7);
}
.col-xs-offset-8{
    margin-left: calc((100% / 12) * 8);
}
.col-xs-offset-9{
    margin-left: calc((100% / 12) * 9);
}
.col-xs-offset-10{
    margin-left: calc((100% / 12) * 10);
}
.col-xs-offset-11{
    margin-left: calc((100% / 12) * 11);
}