*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
     margin-bottom: 20px;
}
.box, .box-nested{
    min-height: 50px;
    background-color: #006cfa;
    border: 1px solid #ffffff;
    text-align: center;
    color: #ffffff;
    padding: 15px;
}
.box-nested{
    background-color: #00e165;
    border-color: #006cfa;
}
.box.tall-box{
    min-height: 100px;
}